:root {
	--color-white: #ffffff;
	--color-light: #f8f9fa;
	--colorSupaLight: #736ffe;
	--color-dark: #21252b;
	--color-dark-light: #282c34;
	--color-red: #ff4000;
	--color-green: #63d000;
	--color-blue: #00aff5;
	--color-yellow: #ffbb00;
	--color-text: #2b2b2b;
	--color-text-light: #9b9b9b;
	--color-border: #dadcdf;
	/* Font */
	--font: 'Open Sans', -apple-system, sans-serif;
	/* Gradients */
	--colorGradient1: linear-gradient(270deg, #f6d242 10%, #ff52e5 100%);
	--colorGradient2: linear-gradient(270deg, #fccf31 10%, #f55555 100%);
	--colorGradient3: linear-gradient(270deg, #5efce8 10%, #736efe 100%);
	--colorGradient4: linear-gradient(270deg, #abdcff 10%, #0396ff 100%);
	/* Box shadows */
	--box-shadow-sm: 0px 2px 4px 0px rgba(14, 30, 37, 0.12);
	--box-shadow-md: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
	--box-shadow-lg: -10px 10px 80px 0px rgba(0, 0, 0, 0.1);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: var(--font);
	font-size: 16px;
}
