* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Quicksand', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	padding: 20px;
}
li {
	list-style-type: none;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}
.win {
	background-color: rgba(0, 255, 0, 0.3);
	border: 1px solid rgba(0, 255, 0, 0.4);
}

.loss {
	background-color: rgba(255, 0, 0, 0.3);
	border: 1px solid rgba(255, 0, 0, 0.4);
}

#gs {
	margin-right: 20px;
}

h2 {
	margin-bottom: 10px;
}
