:root {
	--color-white: #ffffff;
	--color-light1: #f8f9fa;
	--color-light2: #fef8ec;
	--color-dark: #21252b;
	--color-dark-light: #282c34;
	--color-gradient: linear-gradient(
		to bottom right,
		#12c2e9,
		#c471ed,
		#f64f59
	);
	--color-box-shadow: #2b2d34;
	--color-text: #202124;
	--color-border: #dadcdf;
	--box-shadow-sm: 0px 2px 4px 0px rgba(14, 30, 37, 0.12);
	--box-shadow-md: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
	--box-shadow-lg: -10px 10px 80px 0px rgba(0, 0, 0, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', -apple-system, sans-serif;
	font-weight: 400;
}

body {
	background-image: var(--color-gradient);
	height: 100vh;
	padding: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
input {
	display: block;
	border: none;
	outline: none;
	background: none;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}

.timer-container {
	position: relative;
	height: auto;
	width: auto;
	padding: 1rem;
	border: 1px solid rgb(206, 233, 255);
	border-radius: .5rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ticker-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.countdown {
	position: absolute;
	width: 70%;
	font-size: 5rem;
	text-align: center;
	color: var(--color-text);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: .6rem;
	box-shadow: inset 0.05rem 0.05rem 0.25rem rgba(14, 30, 37, 0.12);
}
.btn-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
}
.icon {
	fill: var(--color-white);
	padding: 0.35rem;
	border-radius: 2rem;
}
.icon:hover {
	transition: 0.1s ease-in;
	background-color: rgba(255, 255, 255, 0.2);
}
.icon.sm {
	width: 3rem;
}
.icon.md {
	width: 4rem;
}
